.mask {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 200000;
	width: 95px;
	height: 137px;
	background-color: red;
	opacity: 0.3;
	border-radius: 10px;
	top: 935px;
}

.mask:hover {
	top: 900px;
}

.adv {
	justify-content: space-around;
}

.thumbnail {
	width: 19px;
	height: 27px;
	margin: 2px;
	border-radius: 2px;
}